<a href="http://drpcfix.com"><img src="http://drpcfix.com/images/stories/logo.png" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://drpcfix.com/images/stories/satisfaction-guarantee.png">
<h2>Invoice:</h2>
<p> Dear customer,</p>
<p> This is the invoice for Dr. PC Fix. Please check the attached file for your invoice.</p>
<br><br>



<div class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 12pt; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">

<hr align="center" width="100%" size="2">

</span></div>

Thank you for choosing DrPCFix.com!<br>
