<a href="http://drpcfix.com"><img src="http://drpcfix.com/images/stories/logo.png" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://drpcfix.com/images/stories/satisfaction-guarantee.png">
<h2>Ticket Number: <%= @comment.ticket_id %></h2>
<p>Update Type: <%= @comment.subject %></p>
<p>Message: <pre><%= @comment.body %></pre></p>
<br><br>



<div class="MsoNormal" style="text-align: center;" align="center"><span style="font-size: 12pt; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">

<hr align="center" width="100%" size="2">

</span></div>

Thank you for choosing DrPCFix.com!<br>
*Please note:* We have moved to Redmond<br>
8347 160th AVE NE, Redmond WA 98052<br>
We are always available at 425.825.0222<br>support@drpcfix.com<br><a href="http://drpcfix.com">http://drpcfix.com</a><br><br>

<br>
If at any time you want to call us for status please do call the number on our
website: <a href="http://drpcfix.com/company/locations"><span style="color: blue;">http://drpcfix.com/company/locations</span></a><br>
<br>
We STRIVE to get back to you every day with an update, and get most jobs done
in 48 hours. (unless we have to wait for parts)<o:p></o:p></span></p>

<div class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">

<hr align="center" width="100%" size="2">

</span></div>

<p class="MsoNormal"><span style="font-size: 12pt; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><br>
Disclaimer:<br>
<br>
</span><span style="font-size: 6pt; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">All purchases come with a 7-day
return policy from the date of the original invoice and must be returned
complete with all original packaging. Some returns may incur a restocking fee
determined at the time of the return. Most items do come with a 1 year
manufacturer warranty unless it is a refurbished item. If there is a
manufacturer warranty you must contact them for warranty repair or replacement.
<br>
<br>
The following items are not returnable: Software, Printers, Scanners, Ink
Cartridges, toner, refurbished laptops. <br>
<br>
All computer systems built by Dr PC Fix with our logo sticker on them have a 1
year parts warranty, and 3 years labor. If anyone besides Dr PC Fix works on
the machine the warranty is no longer valid.<br>
<br>
Dr PC Fix will assume NO liability for any machine brought to us, we do our
best to repair a machine but if something happens to a computer that is in our
shop we are not responsible. You have to trust us based on our history of great
customer testimonials that we will treat you correctly in the event there is a
dispute.<br>
<br>
<b>Abandoned Machines:</b> If a machine is left in our shop more than 30 days
from our last communication it is considered abandoned and we will at our
discretion hold and store the machine or sell it/otherwise get rid of it. We
will not be held liable for any machine that is left over 30 days without
communication.</span><o:p></o:p></p>

<br>